* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0 10%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0 50px;
}

input {
  height: 40px;
  font-size: 1.25rem;
}

input[type='string'] {
  width: 400px;
}
